@{
    ViewData["Title"] = "The Wall";
}

<h4>Welcome @ViewBag.user.first!</h4>

        <a href="logout"><button>Logout</button></a>
        <h1>The Wall - Messages & Comments</h1>

        <form action="message" method="post">
            <textarea name="message" cols="100" rows="10" placeholder="Enter Message..."></textarea>
            <p><button type="submit">Post</button></p>
        </form>
    
@{
    foreach(var i in ViewBag.messages)
    {
        <p>@i.user.first:</p>
        <h5>@i.message</h5>
        foreach(var c in i.comments)
        {
            <p>@c.user.first: @c.comment</p>
        }
        <form action="comment" method="post">
            <p><input type="text" name="comment" placeholder="Leave a Comment..."></p>
            <input type="hidden" name="messageid" value="@i.messageid">
            <p><button type="submit">Comment</button></p>
        </form>
        
    }
}
